
RewriteEngine on
RewriteCond %{HTTP_HOST} ^apps.px3j.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.apps.px3j.com$
RewriteRule ^(.*)$ http://partnerpage.google.com/px3j.com [R=301,L]

AddType application/x-java-jnlp-file jnlp
